{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">    
    <div class="col-md-6 alpha">
        <h1>NotaVenta</h1>
        <table class=" table table-bordered ">
            <tbody>

                <tr>
                    <th>Numero</th>
                    <td>{{ entity.numero }}</td>
                </tr>
                <tr>
                    <th>Notas</th>
                    <td>{{ entity.notas }}</td>
                </tr>
                <tr>
                    <th>Datos despacho</th>
                    <td>{{ entity.datosDespacho }}</td>
                </tr>
                <tr>
                    <th>Fecha de abono</th>
                    {% if  entity.fechaAbono is not null %}
                        <td>{{ entity.fechaAbono|date('d/m/Y') }}</td>
                    {% else %}
                        <td>No hay Abono</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Abono</th>
                    <td>${{ entity.abono|number_format(0, '.', '.') }}</td>
                </tr>
                <tr>
                    <th>Fecha emision</th>
                    <td>{{ entity.fechaEmision|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th>Neto</th>
                    <td>${{ entity.neto|number_format(0, '.', '.') }}</td>
                </tr>
                <tr>
                    <th>Iva</th>
                    <td>${{ entity.iva|number_format(0, '.', '.') }}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>${{ entity.total|number_format(0, '.', '.') }}</td>
                </tr>
                <tr>
                    <th>Opciones</th>
                    <td>
                        <ul>
                            <li><a class="btn btn-default" role="button" href="{{ path('notaventa_edit', { 'id': entity.id }) }}">Editar</a>    
                            <li>{{ form(delete_form) }}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6 omega">
        <h3>Datos Cliente</h3>
        <dl class="dl-horizontal">
   
            <dt>Nombre</dt>
            <dd>{{entity.cliente.nombre}}</td>

           
            <dt>Rut</dt>
            <dd>{{entity.cliente.rut}}</dd>
        
            <dt>Direccion</dt>
            <dd>{{entity.cliente.direccion}}</dd>
         
            <dt>Teléfono</dt>
            <dd>{{entity.cliente.telefono}}</dd>
        
            <dt>Celular</dt>
            <dd>{{entity.cliente.celular}}</dd>
       
            <dt>E-mail</dt>
            <dd>{{entity.cliente.email}}</dd>

        </dl>
    </div>

    <div class=" col-md-12">
        <h2>
            Listado de Pedidos
            <a href="{{ path('nv_new_pedido',{'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button">
            Ingresar nuevo Pedido
        </a>
        </h2>        
        
        <table class=" table table-bordered">
            <thead>
                <tr>
                    <th>Especie</th>
                    <th>Variedad</th>
                    <th>Cantidad Solicitada</th>
                    <th>Neto</th>
                    <th>Total</th>
                    <th>Fecha despacho</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pedidos %}
                <tr>
                    <td>{{p.producto.especie}}</td>
                    <td>{{p.producto.variedad}}</td>
                    <td>{{p.cantidadSolicitada}}</td>
                    <td>${{p.neto|number_format(0, '.', '.')}}</td>
                    <td>${{p.total|number_format(0, '.', '.')}}</td>
                    <td>{{p.fechaDespacho|date('d-m-Y')}}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('pedido_show', { 'id': p.id }) }}">Ver</a>
                            </li>
                            <li>
                                <a href="{{ path('siembra_new', {'idPedido': p.id }) }}">Enviar a siembra</a>
                            </li>
                            <li>
                                <a href="{{ path('pedido_edit', { 'id': p.id }) }}">Editar</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        
    <a href="{{ path('notaventa') }}" class="btn btn-primary btn-sm col-md-2" role="button">
        Volver al listado
    </a>

    

</div>
{% endblock %}
