{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tipo de Ubicación de bandejas</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tipoubicacion_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('tipoubicacion_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tipoubicacion_new') }}">
                Crear nueva ubicación
            </a>
        </li>
    </ul>
    {% endblock %}
